# allianceauth-corptools==3.0.0b5
git+https://github.com/Solar-Helix-Independent-Transport/allianceauth-corp-tools.git@3.0.0b5
allianceauth-corptools-pinger==0.6.3
aa-charlink==1.12.3
allianceauth-securegroups==0.9.0
aa-package-monitor==2.3.0
allianceauth-celeryanalytics==0.0.8
django-eveuniverse==1.6.0 # DUHH  Requires django-eveuniverse
git+https://github.com/Dusty-Meg/aa-wizard-misc.git@v0.0.23
git+https://github.com/Dusty-Meg/aa-wizard-skillfarm.git@v0.0.24
git+https://github.com/Dusty-Meg/aa-wizard-industry.git@v0.0.4
# aa-market-manager==1.1.0b1 
git+https://gitlab.com/tactical-supremacy/aa-market-manager.git@v1.1.0b1 # Requires django-eveuniverse
aa-blueprints==2.1.1 # Requires django-eveuniverse
discordproxy==1.4.0
aa-discordnotify==3.0.0
aa-miningtaxes==1.4.36 # Requires django-eveuniverse
aa-moonmining==2.3.0 # Requires django-eveuniverse
aa-structures==3.3.1 # Requires django-eveuniverse
# aa-structuretimers==2.0.0
git+https://gitlab.com/Dusty-Meg/aa-structuretimers.git # At least until the code is merged # Requires django-eveuniverse
aa-buybackprogram==2.3.3 # Requires django-eveuniverse
aa-taskmonitor==0.23.1
aa-secret-santa==1.0.1
aa-bb==3.3.0
aa-contacts==0.10.2
django-eveonline-sde==0.0.1b6
























